html {
  height: 100%;
  box-sizing: border-box;
  scroll-padding-top: 60px; /* height of sticky header */
  scroll-behavior: smooth;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 500;
  height: 60px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
}

.navbar-brand img {
  height: 30px;
  max-width: 45vw;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #cccccc;
}

.navbar-dark .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-dark .navbar-toggler-icon {
  background-image: none;
}

main section.girlscode img {
  width: 100%;
  max-width: 500px;
}

.bg-blue {
  background-color: #0a4bed;
}

#our-clubs {
  background: linear-gradient(
      180deg,
      rgba(242, 175, 228, 1),
      rgba(242, 175, 228, 0.9) 80%,
      rgba(242, 175, 228, 1)
    ),
    url('/assets/img/clubs-background.jpg');
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
}

.g-recaptcha {
  display: inline-block;
}

.cta-btn,
    /* increase specificity so text is not white like other nav-items */
.navbar .nav-item .cta-btn {
  background-color: #d895ca;
  color: black;

  /* GCL Pink, darkened 15% */
  border: 1px solid rgb(195, 93, 174);
}

.cta-btn:hover,
.cta-btn:focus,
    /* Increase specificity so text is not grey like other nav-items */
.navbar .nav-item .cta-btn:hover,
.navbar .nav-item .cta-btn:focus {
  /* GCL Pink, darkened 5% */
  background-color: #d182c1;
  color: black;
}
