html {
  font-size: 1em;
  line-height: 1.5;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif !important;
}

p {
  margin-bottom: 0 !important;
}

a {
  color: #0A4BED;
}

.navbar-brand img {
  height: 30px;
  max-width: 45vw;
}

main section.girlscode {
  text-align: center;
  padding: 8rem 2rem;
}

main section.girlscode img {
  width: 100%;
  max-width: 500px;
}

hr.hr {
  height: 6px;
  background: url(/assets/img/slash.png) repeat-x 0 0;
  border: 0;
}

.bg-blue {
  background-color: #0A4BED;
}

.bg-pink {
  background-color: #D895CA;
}

.bg-grey {
  background-color: #EEF1F6;
}

.bg-purple {
  background-color: #7662ad;
}

.bg-indigo {
  background-color: #2a29b4;
}

#donate-button {
  color: black;
}

.icon-foreground {
  color: #EEF1F6;
}

.icon-background {
  color: #7662ad;
}

.impact-figure {
  font-size: 42px;
}

.impact-subtext {
  color: #7662ad;
  font-size: 18px;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline::before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li::before {
  content: ' ';
  background: #EEF1F6;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #0A4BED;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

ul.timeline > li.previous-club {
  display: none;
}

.timeline-show-more {
  cursor: pointer;
  color: #0A4BED;
}

.timeline-show-less {
  cursor: pointer;
  display: none;
  color: #0A4BED;
}

#sponsors-partners .logo {
  max-width: 300px;
  height: auto;
  transition: all 0.3s ease;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#sponsors-partners .logo:hover {
  transform: scale(1.04);
}

.cta-btn {
  background-color: #D895CA;
  border: 1px solid #C35DAE;
  /* GCL Pink, darkened 15% */
}

.cta-btn:hover, .cta-btn:focus {
  background-color: #D182C1;
  /* GCL Pink, darkened 5% */
}

#social-links i {
  color: white;
  transition: all 0.3s ease;
}

#social-links i:hover {
  color: #D895CA;
  transform: scale(1.08);
}

/* remove hover rule for sponsor images if hover is not supported on device */

@media (hover:none) {
  #sponsors-partners .logo:hover {
    transform: none;
  }
}

@media screen and (max-width: 300px) {
  #sponsors-partners .logo {
    max-width: 90vw;
  }
}